
body {
  background-color: #ffffff;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.small{
  width: 50px;
  height: auto;
}

header {
  float: left;
  width:100%;
  height: 50px;
  text-decoration: none;
  text-align: left;
  background-color: transparent;
  position: fixed;
  z-index:9995;
  text-transform: uppercase;
}

.blackb{
  background-color: #303030;
  color: white;
}

.whiteb{
  background-color: white;
  color: #303030;
}

.shadow{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.bs {
  float: right;
  font-family: 'Raleway',cursive;;
  line-height: 50px;
}

.bs>span{
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: inherit;
}
.bs>span>a{
  text-decoration: none;
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 20px;
  color: inherit;
}

::-webkit-scrollbar {
  background: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255,0,0,0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4);
}

.wtext{
  color: white;
}

.btext{
  color: black;
}


.space{
  float: right;
  font-family: 'Raleway',cursive;;
  line-height: 50px;
}

.space>span{
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.bs:hover{
  background-color: rgba(112,112,112,0.2);
}

.bs:hover>span>a{
  color: gold;
}

#menu{
  height: 50px;
  width: 40px;
  text-align: left;
  line-height: 50px;
  float: right;
  right: 50px;
  cursor: pointer;
}

.overlay{
  width:0%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9000;
  background-color: white;
  overflow-x: hidden;
  transition: 1s;

}

.overlay-content {
    position: relative;
    width: 80%;
    text-align: left;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size:25px;
    color: #303030;
    display: block;
    transition: 0.3s;
    text-transform: lowercase;
    font-variant: small-caps;
    font-family: 'Raleway',cursive;
}

.overlay a:hover {
    color: gold;
    background-color: rgba(48, 48, 48, 0.9);
}

#topic{
  width: 100%;
  font-family: 'Megrim', cursive;
  background-color: #303030;
  color: white;
  text-align: center;
  margin-bottom: 50px;
}

#container{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  top: 0px;
  border-left: 2px;
  border-right: 2px;
  border-color: #444444;
  background-color: #ffffff;
  padding-bottom: 200px;
  padding-top: 70px;
  margin-top: 100px;
  min-height: 500px;
  position: relative;
}

#container p{
  margin-bottom: 40px;
  margin-top: 20px;
  font-family: 'Tillana', cursive;
}

#container h1,h2 {
  font-family: 'Josefin Sans', sans-serif;
  color: #500b65;
  text-transform: uppercase;
}

#date{
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
  float:right;
}

#icon{
  transition: ease 0.3s;
}
footer{
  width:100%;
  background-color: #303030;
  text-align: center;
  position: absolute;
  padding-top: 20px;
  margin-top: 20px;
}

#up{
  float:right;
  z-index: 1
}

#cm {
  height: auto;
  font-size: 20px;
  font-variant: small-caps;
  text-align: center;
  margin: auto;
  color: white;
  font-family: 'Alegreya', serif;
}

#cm>h3{
  font-size: 45px;
  line-height: 100px;
}

#cm>h4{
  font-size: 25px;
}

#in {
  color: white;
  z-index:2;
}

#out{
  color: #8324e2;
}

#lg:hover > #in{
  color: gold;
}

#bug{
  font-size: 15px;
  width:100%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  color: white;
}
@media only screen and (min-width:1020px) {
  .big{
    position: relative;
    width: 26%;
    height: auto;
    margin-left: 37%;
  }
}

@media only screen and (max-width:1020px) {
  .big{
    width: 150px;
    margin-left: calc(50% - 75px);
  }
}


@media only screen and (min-width:810px){
  #heading{
    width: 300px;
    font-size: 100px;
    margin:auto;
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  #menu{
    display: none;
  }
  .overlay{
    display: none;
  }

  .overlay-cont{
    display: none;
  }
  #topic{
    height: 250px;
    padding-top: 25%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  #container{
    width:700px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    margin:auto;
    font-size: 30px;
  }
  #container p{
    font-size: 20px;
  }
  #date{
    font-size: 20px;
  }
  .small{
    margin-left: 10%;
  }
  footer{
    height:500px;
  }
  #up{
    margin-right: 30%;
  }
  #cm {
    width: 500px;
    margin-bottom: 30px;
  }
  #cm>h4{
    margin-bottom: 40px;
  }
}
@media only screen and (max-width:810px){
  #topic{
    height: 150px;
    padding-top: 150px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }

  ::-webkit-scrollbar { width: 1%; }

  .small{
    margin-left: 0;
  }
  #heading{
    width: 100%;
    font-size: 50px;
    margin:auto;
  }
  .bs{
    display: none;
  }
  .space{
    display: none;
  }
  #container{
    width:80%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin:auto;
    font-size: 15px;
  }
  #container p{
    font-size: 12px;
  }
  footer{
    height:300px;
  }
  #date{
    font-size: 12px;
    margin-left: 70%;
    float: left;
  }
  #cm {
    font-size: 12px;
    width: 100%;
    height: 100px;
    clear: both;
  }
  #cm>h3{
    font-size: 25px;
    line-height: 40px;
  }
  #cm>h4{
    font-size: 15px;
  }

}

* {
  margin: 0;
}
