
body {
  background-color: #333333;
}

#header {
  float: right;
  width:100%;
  height: 50px;
  text-decoration: none;
  text-align: right;
  background-color: #ffffff;
  position: fixed;
  z-index:9999;
  background: #eeeeee;
  background: -webkit-radial-gradient(#ffffff, #dddddd);
  background: -o-radial-gradient(#ffffff, #dddddd);
  background: -moz-radial-gradient(#ffffff, #dddddd);
  background: radial-gradient(#ffffff, #dddddd);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  text-transform: uppercase;
}

#container{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  top: 0px;
  border-left: 2px;
  border-right: 2px;
  border-color: #444444;
  background-color: #ffffff;
  padding-bottom: 200px;
  padding-top: 100px;
  height: 1000px;
}

#container p{
  margin-bottom: 40px;
  margin-top: 20px;
  font-family: 'Tillana', cursive;
}

#container h1,h2,h3,h4,h5,h6 {
  font-family: 'Fruktur', cursive;
  color: #500b65;
  text-transform: uppercase;
}

@media only screen and (min-width:810px){
  #container{
    width:700px;
    padding-left: 50px;
    padding-right: 50px;
    margin:auto;
    font-size: 30px;
  }
  #container p{
    font-size: 20px;
  }
  #header span{
    text-align: center;
    margin-right: 10px;
  }
  #icon img{
    width: 50px;
    height: auto;
    margin-right: 67%;
  }
}


* {
  margin: 0;
}
